@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Hey! I am sahabuddin</h1>
    <p>This is my  <a href="https://facebook.com/sujoncep">facebook account</a>.</p>
    <h1 class="display-4">Hey! I am Zihad</h1>
    <h1 class="display-4">And I am Nirjhor!</h1>
    <p>This is my  <a href="https://facebook.com/cubenirjhor">facebook account</a>.</p>

</div>
