@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Team || is fire</h1>
    <h1 class="display-4">Hey! I am sahabuddin</h1>
    <h1 class="display-4">Hey! I am Zihad</h1>

    <p>this is my <a href="https://facebook.com/sujoncep">facebook account</a>.</p>
</div>
